In [6]:
import graphlab
from graphlab import SArray

In [2]:
# 1.
sales = graphlab.SFrame('kc_house_data.gl/')

This non-commercial license of GraphLab Create for academic use is assigned to benuklove@gmail.com and will expire on December 18, 2017.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\Ben\AppData\Local\Temp\graphlab_server_1485227006.log.0

In [3]:
# 2.
train_data, test_data = sales.random_split(.8, seed=0)

In [38]:
sa = SArray(data=[1,2,3,4,5], dtype=int)
sb = SArray(data=[1,2,3,4,5], dtype=int)
sd = SArray(data=[2,3,4,5,6], dtype=int)
# sketch = graphlab.Sketch(sa)

In [13]:
sa.mean()

3.0

In [15]:
sc = sa * sb
sc

dtype: int
Rows: 5
[1L, 4L, 9L, 16L, 25L]

In [16]:
# 3.  A function to take in two equal length SArrays and return the intercept and slope as tuple
#     input_feature is X array, output is Y array
def simple_linear_regression(input_feature, output):
    prod_mean = (input_feature * output).mean()
    sq_mean = (input_feature * input_feature).mean()
    numerator = prod_mean - (input_feature.mean() * output.mean())
    denominator = sq_mean - (input_feature.mean() * input_feature.mean())
    slope = (numerator * 1.0) / denominator
    intercept = output.mean() - slope * input_feature.mean()
    return(intercept, slope)

In [17]:
print simple_linear_regression(sa, sb)

(0.0, 1.0)

In [18]:
# 4.  Find intercept and slope of input feature = sqft, output = price
input_feature = train_data['sqft_living']
output = train_data['price']

In [22]:
squarefeet_intercept, squarefeet_slope = simple_linear_regression(input_feature, output)

In [23]:
squarefeet_intercept, squarefeet_slope

(-47116.07657492161, 281.95883856768825)

In [30]:
# 5.  A function to take in input features (like sqft) as a column (SArray), intercept, and slope;
#     Returns predicted output values
def get_regression_predictions(input_feature, intercept, slope):
    predicted_output = slope * input_feature + intercept
    return(predicted_output)

In [31]:
# 6. Using your Slope and Intercept from (4), What is the predicted price for a house with 2650 sqft?
print get_regression_predictions(2650, squarefeet_intercept, squarefeet_slope)

700074.845629

In [34]:
# 7.  A function that takes new 'input_features' and 'output', as well as regression parameters 'slope' and 'intercept'.
#     Returns the Residual Sum of Squares (RSS).
def get_residual_sum_of_squares(input_feature, output, intercept, slope):
    rss = ((output - (intercept + slope * input_feature)) ** 2).sum()
    return(rss)

In [39]:
# test
print get_residual_sum_of_squares(sa, sb, 0, 1)

0.0

In [40]:
# test
print get_residual_sum_of_squares(sa, sd, 0, 1)

5.0

In [41]:
# 8.  What is the RSS for the simple linear regression model using square feet to predict prices on the training data?
#     (use the slope and intercept from #4)

In [42]:
train_data.head()

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 10

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[10 rows x 21 columns]

In [48]:
# Result:
print get_residual_sum_of_squares(train_data['sqft_living'], train_data['price'], squarefeet_intercept, squarefeet_slope)

1.20191835632e+15

In [44]:
# 9.  A function to estimate the input features (ie, sqft) given output, intercept, slope.
def inverse_regression_predictions(output, intercept, slope):
    estimated_input = (output - intercept) / slope
    return(estimated_input)

In [45]:
# 10. What is the estimated sqft for a house costing $800,000?
print inverse_regression_predictions(800000, squarefeet_intercept, squarefeet_slope)

3004.39624762

In [46]:
# 11. Retrain simple linear regression model with # of bedrooms instead of sqft
input_feature = train_data['bedrooms']
output = train_data['price']
bedroom_intercept, bedroom_slope = simple_linear_regression(input_feature, output)
print bedroom_intercept, bedroom_slope

109473.180469 127588.952175

In [49]:
# 12. Now we have two different models.  Compute the RSS from BOTH models on TEST data.
sqft_rss = get_residual_sum_of_squares(test_data['sqft_living'], test_data['price'], squarefeet_intercept, squarefeet_slope)
beds_rss = get_residual_sum_of_squares(test_data['bedrooms'], test_data['price'], bedroom_intercept, bedroom_slope)
print sqft_rss, beds_rss

2.75402936247e+14 4.93364582868e+14

In [50]:
# 13. Which one has lowest RSS and why?

The RSS from the sqft simple linear regression model is lower.  This means there is less error between the predicted values and the actual values, compared to the number of bedrooms model.  There are a limited number of bedrooms a house could have and so all the data is very close with the same variability in price as the spread out square foot model - which intuitively has better correlation.